@model IEnumerable<MotoGP.ViewModels.Home.MotogpGroup>
@{
    ViewBag.Title = "About Rider Statistics";
}
<h2>@ViewBag.Title.</h2>

<h2>Rider Statistics</h2>

<table class="table">
    <tr>
        <th>
            Classes
        </th>
        <th>
            Riders
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Classes)
            </td>
            <td>
                @item.RiderCount
            </td>
        </tr>
    }
</table>